[submodule "source-sdk-2013"]
	path = thirdparty/source-sdk-2013
	url = https://github.com/ValveSoftware/source-sdk-2013.git
[submodule "luajit-2.0"]
	path = thirdparty/luajit-2.0
	url = http://luajit.org/git/luajit-2.0.git
